@page "/accounts"
@using BasicBudgetR.Core.Enums;
@using BasicBudgetR.Core.Models;
@inject HttpClient httpClient
@using System.Net.Http.Json
@using BasicBudgetR.Core;
@using Humanizer;
@using Microsoft.AspNetCore.Authorization;

@attribute [Authorize]
@inject HttpClient Http

<h3>Accounts</h3>


<MudGrid>
    <MudItem xs="12">Header bar</MudItem>
    <MudItem>
        <MudTable Items="@accounts.Where(a=>a.BalanceType==BalanceType.Debit).ToList()"
                  Hover="true"
                  Breakpoint="Breakpoint.Sm"
                  Loading="@_loading"
                  LoadingProgressColor="Color.Info">
            <HeaderContent>
                <MudTHeadRow IgnoreCheckbox="true">
                    <MudTh colspan="8">Assets</MudTh>
                    <MudTh colspan="4" Class="ml-auto">$4,000.00</MudTh>
                </MudTHeadRow>
                <MudTHeadRow IsCheckable="true">
                    <MudTh>Name</MudTh>
                    <MudTh>Balance Type</MudTh>
                    <MudTh>Account Type</MudTh>
                    <MudTh>Balance</MudTh>
                </MudTHeadRow>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Name">@context.Name</MudTd>
                <MudTd DataLabel="BalanceType">@context.BalanceType.Humanize()</MudTd>
                <MudTd DataLabel="AccountType">@context.AccountType</MudTd>
                <MudTd DataLabel="Balance">@context.Balance</MudTd>
            </RowTemplate>
        </MudTable>
    </MudItem>
</MudGrid>

@code {
    private IEnumerable<AccountModel> accounts = new List<AccountModel>();
    private bool _loading = true;

    protected override async Task OnInitializedAsync()
    {
        accounts = await httpClient.GetFromJsonAsync<IEnumerable<AccountModel>>("Account");
    }
}
